/* body{padding-top:120px} */

#overlay {
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 999999;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 15%;
}

.span-theme-change {
    cursor:pointer;
}

.dash-box {
    font-size: 18px;
}

.dash-card {
    padding-right: 0px;
}

.exchange-input {
    padding: 10px 10px;
}